.btn-flat {
  color: white;
  width: fit-content;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 4px;
  background: #9381FF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #6D696A;
  color: white;
  text-decoration: none;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6D696A;
  transition: background 0.3s ease;
}

.btn-cancel:hover {
  text-decoration: none;
  color: #66cfd6;
}
